:root {
    --background-color: rgb(83, 179, 243);
    --grid-cols: 1;
    --grid-rows: 1;
    /* --rainbow-border: linear-gradient(var(--angle), rgb(116, 33, 33), rgb(163, 163, 52), rgb(50, 170, 50), rgb(51, 160, 160), rgb(19, 19, 145), rgb(138, 32, 138)) 1;
    --rainbow-animation: 10s rotate linear infinite; */
  }


body{
    background-color: var(--background-color)
}

.container{
    --angle: 0deg;
    background-color: rgb(238, 238, 238);
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 15px rgb(194, 24, 24) solid;
    /* this is for rainbow border */
    /* border-image: var(--rainbow-border);
    
    animation: var(--rainbow-animation); */
  }
  
  /* @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  } */


#containerTextDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerTextDiv > h1 {
    font-size: 50px;
}

#head{
    font-size: 90px;
    margin: 0px;
}

#header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header > h2, h3 {
    margin: 10px;
}





#selectButtonsDiv{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

#selectButtonsDiv > div > button{
    padding: 20px;
    background-color: #f3e521;
    border: black solid;
    border-radius: 15px;
}

#selectButtonsDiv > div > button:hover{
    background-color: #258bdf;
}

#resetBtnDiv{
    display: flex;
    justify-content: center;
}

#inputBtn{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
}


#resetBtn{
    padding: 20px;
    margin: 5px;
    background-color: rgb(255, 0, 179);
    border: black solid;
    border-radius: 15px;
}

.container{
    width: 600px;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    
    
    
} 

.grid-item {
    border: solid thin rgb(105, 105, 105);
  }

/* .grid-item:hover{
    background-color: black;
    
} */


  
