:root {
    --background-color: #E0E1E7;
    --grid-cols: 1;
    --grid-rows: 1;
    --darken: background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  }


body{
    background-color: var(--background-color)
}

.container{
    --angle: 0deg;
    width: 10px;
    height: 10px;
    border: 5px solid;
    /* This will work but yield a wrong result: */
    border-image: linear-gradient(var(--angle), rgb(116, 33, 33), rgb(163, 163, 52), rgb(50, 170, 50), rgb(51, 160, 160), rgb(19, 19, 145), rgb(138, 32, 138)) 1;
    animation: 10s rotate linear infinite;
  }
  
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }


#containerTextDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerTextDiv > h1 {
    font-size: 50px;
}

#head{
    font-size: 90px;
    margin: 0px;
}

#header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header > h2, h3 {
    margin: 10px;
}

#resetBtnDiv{
    display: flex;
    justify-content: center;
}

#inputBtn{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 7px;
}


#resetBtn{
    padding: 20px;
    margin: 5px;
}

.container{
    width: 700px;
    height: 700px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    
    
    
} 

.grid-item {
    border: 1px solid rgb(0, 0, 0);
  }

/* .grid-item:hover{
    background-color: black;
    
} */


  
