:root {
    --background-color: rgb(233, 233, 233);
    --grid-cols: 1;
    --grid-rows: 1;
  }

/* to make it easier to visualize */
/* .grid-item:nth-child(odd) {
    background-color: rgb(209, 202, 202);
} 

.grid-item:nth-child(even) {
    background-color: rgb(168, 168, 221);
} 
  */

body{
    background-color: var(--background-color)
}

.container{
    border: 1px black solid;
}

#head{
    margin: 0px;
}

#header{
    display: flex;
    align-items: center;
    flex-direction: column;
}


#resetBtnDiv{
    display: flex;
    justify-content: center;
}

#plyInputDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#resetBtn{
    padding: 20px;
    margin: 5px;
}

.container{
    width: 700px;
    height: 700px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    
    
    
} 

.grid-item {
    border: 1px solid rgb(0, 0, 0);
  }

.grid-item:hover{
    background-color: black;
    
}


  
